<!DOCTYPE HTML>
<html>
    <head>
        <title>All Listings</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="../static/js/myscript.js">
        </script>
    </head>
    <body>
        <div class="header">
            <h1 id="helloText">Hello, {{currentUser['firstName']}}</h1>
            <a href="/newListing/{{currentUser['userID']}}" type="button" id="newListing">New Listing</a>
        </div>
        
        <table id="listingsTable">
            <tr>
                <th>Title</th>
                <th>Listed By</th>
                <th>Description</th>
                <th>Image</th>
            </tr>
            {%for i in range(Listings|length)%}
            <tr>
                <td>{{Listings[i]['title']}}</td>
                <td>{{allListingsUserList[i]}}</td>
                <td>{{Listings[i]['description']}}</td>
                <td>Images Go Here</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>