<!DOCTYPE HTML>
<html>
    <head>
        <title>All Listings</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="../static/js/myscript.js">
        </script>
    </head>
    <body>
        <div class="header">
            <h1 id="helloText">Hello, {{currentUser['firstName']}}</h1>
            <a href="/newListing/{{currentUser['userID']}}" type="button" class="newListing">New Listing</a>
        </div>
        <a href="/login" id="logout">Logout</a>
        
        <!--table id="listingsTable">
            <tr>
                <th>Title</th>
                <th>Published By</th>
                <th>Description</th>
                <th>Image</th>
            </tr>
            {%for i in range(Listings|length)%}
            tr>
                <td>{{Listings[i]['title']}}</td>
                <td>{{allListingsUserList[i]}}</td>
                <td>{{Listings[i]['description']}}</td>
                <td>Images Go Here</td>
            </tr>
            {% endfor %}
        </table-->
        {%for i in range(Listings|length)%}
        <div class="listingBody">
            <div class="headingBox">
                <h2>{{Listings[i]['title']}}</h2>
                {%if (userIDs[i] == currentUser['userID'])%}
                    <h4>Listed by <i style="color:purple">you</i></h4>
                    <h4><i><a href="/deleteListing/{{currentUser['userID']}}/{{Listings[i]['id']}}" style="color:purple; text-decoration: none;">(delete, </a><a href="/editListing/{{currentUser['userID']}}/{{Listings[i]['id']}}" style="color:purple; text-decoration: none;">edit)</a></i></h4>
                {% else %}
                    <h4>Listed by {{allListingsUserList[i]}}</h4>
                {%endif%}
                
            </div>
            <div class="descriptionBody">
                <p>{{Listings[i]['description']}}</p>
            </div>
            <div class="photoBox">
                <img src="../static/images/mountain.png" alt="Mountain" class="imageBox">
            </div>
        </div>
        {% endfor %}
    </body>
</html>