html {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  padding: 0;
}

body {
  margin-bottom: 60px;
  background-image: url('worldmap1.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: #fdfdfd;
}

#map {
  height: 100%;
  z-index: 1;
}

.googleMaps {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.topMenu {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100% !important;
  height: 20% !important;
  background-color: rgb(221, 221, 221);
  display: flex;
  justify-content: space-evenly;
}

.divLink {
  display: flex;
}

.topButton {
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #464646;
  width: 90pt;
  margin: auto;
  height: 90pt;
  display: flex;
  z-index: 1;
  text-decoration: none;
  text-align: center;
}

/*.topButton:hover {
  background-color: #7B8EA4;
}*/

.buttonText {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  text-decoration: none;
  color: #464646;
  font-size: 14pt;
  text-shadow: 0px 0px 8px #779fdb;
}

/*                                             Listings Table                                             */

#listingsTable {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

#listingsTable td, #listingsTable th {
  /*border: 1px solid #ddd;*/
  padding: 8px;
}

#listingsTable tr {
  opacity: 0.97;
}

#listingsTable tr:nth-child(even){background-color: #f2f2f2;}

#listingsTable tr:nth-child(odd){background-color: #dbdbdb;}

#listingsTable tr:hover {
  border-bottom: 1px solid #0c885a;
  color: #0c885a;
}

#listingsTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04AA6D;
  color: white;
}

.header {
  display: inline-flex;
  width: 100%;
  height: 10vh;
}

#helloText {
  width: fit-content;
  align-self: center;
  justify-self: center;
}

#newListing {
  align-self: right;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 25px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
  background-color:#04AA6D;
  color: white;
  float: right;
  text-decoration: none;
}

#newListing:hover {
  background-color: #0c885a;
}

#logout {
  padding: 20px 0px;
  text-decoration: none;
}