html {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  min-height: 100%;
  padding: 0;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin-bottom: 60px;
  /*background-image: url('worldmap1.png');*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: #fdfdfd;
}

#map {
  height: 100%;
  z-index: 1;
}

.googleMaps {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.topMenu {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100% !important;
  height: 20% !important;
  background-color: rgb(221, 221, 221);
  display: flex;
  justify-content: space-evenly;
}

.divLink {
  display: flex;
}

.topButton {
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #464646;
  width: 90pt;
  margin: auto;
  height: 90pt;
  display: flex;
  z-index: 1;
  text-decoration: none;
  text-align: center;
}

/*.topButton:hover {
  background-color: #7B8EA4;
}*/

.buttonText {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  text-decoration: none;
  color: #464646;
  font-size: 14pt;
  text-shadow: 0px 0px 8px #779fdb;
}

/*                                             Listings Table                                             */

#listingsTable {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

#listingsTable td, #listingsTable th {
  /*border: 1px solid #ddd;*/
  padding: 8px;
}

#listingsTable tr {
  opacity: 0.97;
}

#listingsTable tr:nth-child(even){background-color: #f2f2f2;}

#listingsTable tr:nth-child(odd){background-color: #dbdbdb;}

#listingsTable tr:hover {
  border-bottom: 1px solid #0c885a;
  color: #0c885a;
}

#listingsTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04AA6D;
  color: white;
}

.header {
  display: inline-flex;
  width: 90vw;
  padding-left: 5vw;
  height: 10vh;
}

#helloText {
  width: fit-content;
  align-self: center;
  justify-self: center;
}

.newListing {
  align-self: right;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 25px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
  background-color:#04AA6D;
  color: white;
  float: right;
  text-decoration: none;
  font-size: 12pt;
  transition-duration: 100ms;
}

.newListing:hover {
  background-color: #0c885a;
  translate: 0px 1px;
}

#logout {
  padding: 20px 5vw;
  text-decoration: none;
}

.listingBody {
  display: inline-flex;
  font-family: Arial, Helvetica, sans-serif;
  height: 27vh;
  width: 90vw;
  margin: 0px 5vw;
  box-shadow: 1px 4px 2px #CCCCCC;
  padding: 20px 0px;
  border-radius: 5px;
  margin-top: 15px;
  background-color: #F8F8F8;
  transition-duration: 100ms;
}

.listingBody:hover {
  box-shadow: 4px 6px 4px #CFCFCF;
  background-color: #F3F3F3;
}

.headingBox {
  width: 15%;
  padding-left: 15px;
}

.descriptionBody {
  width: 70%;
  padding: 0px 5%;
}

.photoBox {
  width: 15%;
  height:inherit;
  padding-right: 15px;
}

.imageBox {
  width: 100%;
  
}

/*                                             New Listing                                             */

#descriptionEntry {
  width: 20vw;
}

.centerBox {
  display: block;
  text-align: center;
  margin: 10vh auto 0px auto;
  width: fit-content;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  padding: 5vh 5vw;
}

.centerBox2 {
  display: block;
  text-align: center;
  margin: 2vh auto;
  width: fit-content;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  padding: 5vh 5vw;
}


.publish {
  padding: 10px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
  background-color:#04AA6D;
  color: white;
  text-decoration: none;
  font-size: 12pt;
  transition-duration: 100ms;
}

.publish:hover {
  background-color: #0c885a;
  translate: 0px 1px;
}

.inputText {
  margin-top: 10px;
  padding: 3px;
  font-size: 12pt;
}